<% movie.reverse().forEach(data1 => { %>
    <% if(data1.id == 1){ %>
        <div class="post">
            <div class="the_post_content">
                <div class="profile-picture">
                    <img src=<%= data1.ImagePath %>
                        alt="" />
                    <h3>
                        <a href="#"><%= data1.username %></a>
                    </h3>
                </div>
        
                <div class="post_body">
                    <img src="<%= data1.coverImagePath %>" alt="" />
                    <div class="utility-icon">
                        <button class="like_button"><span
                                class="material-icons">favorite_border</span></button>
                        <button class="Comment_button" id="comment_button"><span
                                class="material-icons">maps_ugc_outline</span></button>
                        <button class="like_button"><span
                                class="material-icons">send_round</span></button>
                    </div>
                    <div class="desc">
                        <p>
                            <%= data1.name %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
   <%} else if(data1.id == 2) { %>
    <div class="post">
        <div class="the_post_content">
          <div class="profile-picture">
            <img
              src=<%= data1.ImagePath %>
              alt=""
            />
            <h3 style="display: flex; width: 200px; padding: 1%;">
              <a href="#"><%= data1.username %></a>
            </h3>
          </div>
    
          <div class="post_body">
            <div class="desc-nama" style="font-size: 16pt; color: white;">
              <p>
                <%= data1.name %>
              </p>
            </div>
            <div class="utility-icon">
              <button class="like_button"><span class="material-icons">favorite_border</span></button>
              <button class="Comment_button" id="comment_button"><a href="/comment"></a><span class="material-icons">maps_ugc_outline</span></button>
              <button class="like_button"><span class="material-icons">send_round</span></button>
            </div>
          </div>
        </div>
      </div>
    <% } %>
<% }) %>  
    